<style>
    a{coldr:black:}
    </style>
    h2 {
        border-width: 5px;
        border-color: red;
        border-style: solid;
      }
      
      a {
        border-width: 5px;
        border-color: red;
        border-style: solid;
      }
      a{border: 5px red solid; padding: 10px; margin: 0; width: 500px; height: 2000px;}
      